<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&family=Parisienne&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playball&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Viga&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/yourcode.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Philomena's Church</title>

</head>

<body>
    <div class="Karanji">
        <div class="heading">
            <h1>Philomena Church</h1>
        </div>
        <div class="container info">
            Recognized as the second tallest church of Asia, St. Philomena's Church was constructed to pay tribute to the Catholic Saint and martyr of Roman Catholic Church, Saint Philomena. It is one of the most important historical sites in Mysore and is frequently
            visited by tourists from all over the country. Being one of the most distinctive landmarks of the city, it looks even more beautiful in the evening sky and is given religious importance having a Neo-Gothic style of architecture which makes
            it all the more famous amongst masses. The foundation for the church was laid in the year 1933 by the then king of Mysore, Sri Krishnarajendra Wodeyar Bahadur IV for the European residents in the city. After the construction went on for about
            eight years, the church started functioning in the year 1941. The remains of Saint Philomena have been preserved here and are present even today. Saint Philomena was the daughter of the monarch of Greece and had always been a devotee of God
            and believed in him. She was taken to meet the Emperor when she was 13 years old, after which, the Emperor on seeing her beauty offered to marry her. However, she refused and the emperor ordered to have her executed. The church stands as a
            symbol of the secular viewpoint and the religious accord of Mysore. St. Philomena's Church was built in the year 1840 and was then known as St. Joseph Chavez. It started off with being a small church and got its present form under the rule
            of Maharaja Krishnaraja Wodeyar IV in 1933. The spectacular church was constructed for the European residents of the city. However, with the increasing number of people, a bigger church was needed. Its construction began in 1933 and was completed
            after a long period of 8 years in 1941. One can find the remains of St. Philomena is preserved in the church even now. St. Philomena was the daughter of a monarch of a small state in Greece. The monarch and his wife had been childless, and
            after a lot of prayers, they were blessed with a baby girl who they named Philomena. The girl was devoted to God since birth. The monarch took his daughter along with him to Rome when she was 13 years old to seek some help from Emperor Diocletian.
            The emperor was mesmerized by the girl's beauty and wished to marry her. However, Philomena refused to marry him for she was a follower of God. The emperor who could not handle this rejection went ahead and ordered to torture her and then
            got her executed. St. Philomena's Church, as the name suggests, is dedicated to the girl.
        </div>
    </div>
</body>

</html>