<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&family=Parisienne&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playball&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Viga&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/yourcode.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Brindavan Garden</title>

</head>

<body>
    <div class="Karanji">
        <div class="heading">
            <h1>Brindavan Garden</h1>
        </div>
        <div class="container info">
            The Brindavan Gardens, spread over 60 acres, is located at a distance of 21 km away from Mysore. Built across the notable river of India, Cauvery, it took around five years to complete the project. The well-synchronised fountain show with music, boating
            and well-manicured grass with flowerbeds are some of the top experiences of Brindavan Garden. Constructed in 1932 by the Diwan of Mysore, Sir Mirza Ismail, Brindavan Garden is visited by millions of tourists every year. Divided into two parts,
            north and south, boating facility offered by the Karnataka State Tourism Development Corporation which connects the two parts along with a walkway bridge. The main attraction at the Brindavan Gardens in Mysore happens to be the beautiful array
            of musical fountains. Coupled with laser lights, these fountains are synchronised to music and go live at the time when the garden is lit up. The flow of water is digitally controlled, which in turn operates an aquatic organ. The pressure
            from the nearby dam fuels these fountains to put up a colourful display for the visitors, who can also visit a rain shelter and a gallery. The songs played range from soulful instrumental to patriotic songs. On weekdays, you will get to enjoy
            the scintillating show for one hour from 6:30 PM to 7:30 PM while on weekends, the show extends with one hour and the timings are 6:30 PM to 8:30 PM. The beauty of Brindavan Garden rises to a next level during the evening hours. The footpaths
            are lightened up with colourful lights. You will find yellow lamps glowing under the trees which makes the entire garden look magnificent. Also, bangles of different bright colours which glow in the dark are sold. The crowd also increases
            as people flock to watch the most-awaited fountain show. While some people enjoy an evening stroll, there are star-gazers also, lost in nostalgia. The Brindavan Gardens are built in the complex of Krishnaraja Sagar Dam (KRS Dam) which is in
            Srirangapatna taluk of Mandya district. Sir Mirza Ismail, the then Diwan of Mysore wanted to enhance the beauty of the area around KRS Dam. Therefore, the construction was started in the year 1927 by the Department of Horticulture and was
            completed in 1932. Built across the prominent river Cauvery, the designs of Brindavan Gardens have been inspired by the breathtaking Shalimar Bagh of Kashmir which was created in the ancient Mughal Style. Now, the garden is maintained by Cauvery
            Irrigation Department, Government of Karnataka.
        </div>
    </div>
</body>

</html>