<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&family=Parisienne&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playball&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Viga&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/yourcode.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Shivanasamudra Falls</title>

</head>

<body>
    <div class="Karanji">
        <div class="heading">
            <h1>Shivanasamudra Falls</h1>
        </div>
        <div class="container info">
            Shivanasamudra is a small island town in the Mandya district of Karnataka. It is 65 km east of Mysore and 120 km from Bangalore. Situated on the banks of the River Cauvery, the area is surrounded by forested hills and lush green valleys. Here the Cauvery
            River winds its way through the Deccan Plateau and drops downstream to form the beautiful twin waterfalls. The western stream is known as Gaganachukki while the eastern one is known as Bharachukki. Gaganachukki cascades down a height of 98
            metres with the maximum flow of 667,000 cubic feet per second. This is the waterfall where Asia’s first hydroelectric power station was set up in the year 1905. Bharachukki is one km away from the Gaganachukki fall. The cascading edge of Bharachukki
            is a little wider than that of Gaganachukki. One of its sections resembles a ‘U’ just like the famous Niagara Falls. The currents here are quite strong and the gorge is quite deep. Therefore, swimming is not allowed here due to safety reasons.
            The falls are at their best during the monsoon season i.e. from June to September. These are also known as Siva Samudram literally meaning Shiva’s Sea. Watching the river falling down into a cloud of foaming spray is a breathtaking experience.
            These falls are the second biggest waterfall in India and the sixteenth largest in the world. There are a number of ancient temples including Shivanasamuram and Somanathpur Temple located around the region. The place is a paradise for nature
            lovers and is a perfect canvas for artists, poets, writers and painters. Visitors should carry food items and water as there are no proper food stalls or restaurants nearby. Weekends are crowded so weekdays are the best option for enjoying
            the thrilling sounds of the falls. One can enjoy boating in the small circular boats which takes you near the stunning waterfalls. For photography buffs, the balconies constructed near the Bharachukki falls provide a safe place for capturing
            beautiful shots.

        </div>
    </div>
</body>

</html>