<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&family=Parisienne&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playball&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Viga&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/yourcode.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Lalitha Mahal</title>

</head>

<body>
    <div class="Karanji">
        <div class="heading">
            <h1>Lalitha Mahal</h1>
        </div>
        <div class="container info">
            This is the Lalitha Mahal, built by the erstwhile Maharaja of Mysore to host his most important guest, the Viceroy of India. The Lalitha Mahal is now one of India's most opulent hotels, a palace hotel that offers an experience of princely living in a
            real Maharaja's palace.On a low hill, just outside the royal city of Mysore, stand a shimmering white palace - a splendid Italianate palazzo, double-columned and domed - set in sparawling terraced and landscaped gardens. This is the Lalitha
            Mahal Palace, built by the erstwhile Maharaja of Mysore to host his most important guest, the Viceroy of India.The Lalitha Mahal is now one of India's most opulent hotels, a palace hotel that offers an experience of princely living in a real
            Maharaja's palace.Set on a ridge commanding a panoramic view of the gently sloping and curving valley, at the foot of the Chamundi hill, this dream-like palace was built in the year 1931 for special guests of the Maharajas. The building is
            a majestic, two-storey composition of twin ionic columns, a projecting porch on the ground floor, spherical domes with laterns and the central dome which dominates the elevation rises above the central entrance hall..
        </div>
    </div>
</body>

</html>