<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&family=Parisienne&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playball&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Viga&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/yourcode.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/yourcode.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Mysore Site</title>
</head>

<body>
    <div id="mainscreen">
        <!-- First Section -->
        <div class="containter-fluid first-section home-first-section">
            <!-- Navigation Bar -->
            <nav class="navbar navbar-expand-lg navbar-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarContent">
                    <ul class="navbar-nav ml-auto">
                        <li class=" nav-item active ">
                            <a class="nav-link " href="home ">Home</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link " href="land">Journal</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link " href="#contact ">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- first box -->
            <div class="center-topic home-center-topic">
                <h1 class="glow ">Mysore</h1>
                <h2 class="glow ">City Of Palaces</h2>
            </div>
            <h3>Discover a different world…</h3>
            <div class="facilities">
                <h5>Please Give Us Feedback by click the Feedback Link</h5>
                <ul>
                    <li>
                        <a href="#hotel"> Hotel Booking</a></li>
                    <li>
                        <a href="#hotel">Travel Booking</a>
                    </li>
                    <li>
                        <a href="#review">Reviews </a>
                    </li>
                    <li>
                        <a href="#feedback">Feedback</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Hotel and Travelling Section -->
        <div class="container-fluid middle" id="hotel">
            <!-- Two Card Deck -->
            <div class="row">
                <div class="col-lg-6 hotel">
                    <h3>Hotel Booking Section</h3>
                    <div class="row hotel-images">
                        <a href="https://www.agoda.com/en-in/?site_id=1829958&tag=1d8ff09d-fd68-a52b-fadc-8b9f660ac0e4&device=c&network=g&adid=464803121696&rand=5822464863207081946&expid=&adpos=&gclid=Cj0KCQiA8dH-BRD_ARIsAC24umasmYK9rwlG9DS37ZADHPje1mikMCBTyrwA_HFxrfUn33CaolJ8ToQaAqMFEALw_wcB&checkin=2020-12-20&checkout=2020-12-21&adults=1&childs=0&rooms=1&los=1">
                            <img src="images/agoda.png" alt="agoda">
                        </a>
                    </div>
                    <div class="row hotel-images">
                        <a href="https://www.trivago.in/?aDateRange%5Barr%5D=2020-12-18&aDateRange%5Bdep%5D=2020-12-19&aPriceRange%5Bfrom%5D=0&aPriceRange%5Bto%5D=0&aRooms%5B0%5D%5Badults%5D=2&cpt2=74383%2F200&hasList=1&hasMap=1&bIsSeoPage=0&sortingId=1&slideoutsPageItemId=&iGeoDistanceLimit=20000&address=&addressGeoCode=&offset=0&ra=&overlayMode=">
                            <img src="images/trivago.png" alt="trivago">
                        </a>
                    </div>
                    <div class="row hotel-images">
                        <a href="https://www.makemytrip.com/hotels/hotel-listing/?checkin=12132020&city=CTXMY&checkout=12142020&roomStayQualifier=2e0e&locusId=CTXMY&country=IN&locusType=city&searchText=Mysore,%20Karnataka,%20India&visitorId=4a7a0ab3-69bc-4eaf-92f6-e77e75b73805">
                            <img src="images/makemytrip.png" alt="makemytrip">
                        </a>
                    </div>
                    <div class="row hotel-images">
                        <a href="https://www.makemytrip.com/hotels/hotel-listing/?checkin=12132020&city=CTXMY&checkout=12142020&roomStayQualifier=2e0e&locusId=CTXMY&country=IN&locusType=city&searchText=Mysore,%20Karnataka,%20India&visitorId=4a7a0ab3-69bc-4eaf-92f6-e77e75b73805">
                            <img src="images/booking.png" alt="makemytrip">
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 travel">
                    <h3>Travel Booking Section</h3>
                    <div class="row travel-images">
                        <a href="https://www.yatra.com/cabs">
                            <img src="images/yatra.png" alt="agoda">
                        </a>
                    </div>
                    <div class="row travel-images">
                        <a href="https://www.goibibo.com/cars/">
                            <img src="images/goibibo.png" alt="goibibo">
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <!-- Review Section -->
        <div class="container-fluid" id="review">
            <!-- Two Card Deck -->
            <h3>Reviews Section</h3>
            <div class="row review">
                <div class="card-deck">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Rahul Aggarwal</h5>
                            <p class="card-text"> Mysore, A place where you will feel like you are in the period of ancient rulers. The soil of mysore is the proof of many phenomenon which takes place in South india.</p>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Megha</h5>
                            <p class="card-text">I had lived in Mysore from 2015 to 2016. It is a wonderful city to live in. It has cool weather through out the year. It has wide roads and I never see any traffic jams. It has many sightseeing places like Palace, chamundi
                                temple, Brindavan garden and zoo Park.</p>

                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Vaibhavi</h5>
                            <p class="card-text">I have visited Mysore city in summer 2019. Problem is the most cleanest city in India. To go to Mysore you can board a bus or train. There are lots of busses and trains available in Banglore city. Its just a two hour travel
                                from banglore.</p>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Divya</h5>
                            <p class="card-text">Mysore is becoming worst day by day... Everywhere there are rising in the numbers of people , who are waiting for the bakaras... Sorry I am not speaking about the business persons(taxi owners, car rentles, and so on.....) This
                                topic is only about some people in Mysore.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row review">
                <div class="card-deck">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Anisha</h5>
                            <p class="card-text">Hello friends, I Am glad to share my experience by visiting to Mysore. This place was extraordinary compare to other places we went for three days and enjoy in this place.</p>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Shivani</h5>
                            <p class="card-text">Mysore is a very beautiful tourist destination. It is probably the most attractive party of Karnataka.</p>

                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Yogesh</h5>
                            <p class="card-text">Mysore is a city in Karnataka.Tourists continesly visit Mysore becouse of it's beauty and the Mysore Palace.The Mugal Sulthan Tippu ruled the city before the British arrivals</p>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Kaushal</h5>
                            <p class="card-text">I have visited Mysore with my parents for seeing the places around and to say in one word I fell in love with it.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Feedback -->
        <div class="container-fluid feedback-section" id="feedback">
            <!-- Two Card Deck -->
            <h3>Feedback Section</h3>
            <div class="row feedback ">
                <div class="col-lg-6 feedback-form ">
                    <form action="/feedback " method="POST">
                        <div class="form-group ">
                            <h5>Your Name</h5>
                            <input type="text" class="form-control" name="Name" placeholder="Type Here ">
                        </div>
                        <div class="form-group ">
                            <h5>Email address</h5>
                            <input type="email" name="Email" class="form-control " id="email" placeholder="Enter email">
                            <small class="form-text text-muted ">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group ">
                            <h5>Your Feedback</h5>
                            <textarea name="Feedback" onfocus="this.value='' ; " onblur="if (this.value=='' ) {this.value='Type here' ;} " required=" " cols="40 " rows="5 ">Type here</textarea>
                        </div>
                        <button type="submit " class="btn btn-primary ">Submit Feedback</button>
                    </form>
                </div>
                <div class="col-lg-6 feedback-icon ">
                    <img src="images/feedback.png " alt="feedback ">
                </div>
            </div>
            <% if(success!=''){ %>
                <div class="alert alert-success">
                    <strong>
                        <%= success %>!!!
                    </strong>
                </div>
                <% } %>

        </div>

        <footer>
            <div class="footer-copyright text-center py-3 footer-primary ">© 2020 Copyright: Hackslash </div>
        </footer>
    </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js " integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW " crossorigin="anonymous "></script>
    <script src="script.js "></script>
</body>


</html>