<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&family=Parisienne&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playball&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Viga&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/yourcode.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Mysore Palace</title>

</head>

<body>
    <div class="karanji">
        <div class="heading">
            <h1>Mysore Palace</h1>
        </div>
        <div class="container info">
            Karanji Lake is a picturesque lake located at the footsteps of Chamundi Hills and behind Mysore Zoo. Karanji means 'fountain' in Kannada. Spread over an area of 90 acres, it is regarded as one of the biggest lakes in Karnataka. Karanji Lake is home to
            more than 90 species of resident and migratory birds. It also supports several species of butterflies, small mammals and is a good example of wetland ecosystem. The lake attracts painted storks, pelicans and darters and a host of other winged
            beauties. Karanji Lake was built by the King of Mysore about 100 years back, as a percolation tank. This lake was used by the residents for bathing, washing, drinking etc. The Mysore Zoo took over the lake in 1976. The 90 acres water spread
            area has a 2.5 Kms. long feeder channel from the nearby Chamundi hills and has about 745 hectares of catchment area. The Karanji Lake includes a walk through aviary for chirping birds, generating cheerfulness among visitors. This aviary is
            constructed on the banks of the lake has a length of 60mts, width of 40mts and 20mts height making it India's biggest walk-through aviary. The birds are within handshaking distance. Karanji Lake has a butterfly park housing a large variety
            of plant species to attract butterflies. Karanji Lake also includes children corner and boating facilities. The high observation tower gives a grand view of greenery stretching all around. Karanji lake is owned and maintained by the Mysore
            Zoo Authority.
        </div>
    </div>
</body>

</html>