<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&family=Parisienne&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playball&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Viga&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/yourcode.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Chamundeshwari Temple</title>

</head>

<body>
    <div class="karanji">
        <div class="heading">
            <h1>Chamundeshwari Temple</h1>
        </div>
        <div class="container info">
            The Chamundeshwari Temple is a Hindu temple located on the top of Chamundi Hills about 13 km from the palace city of Mysore in the state of Karnataka in India. The temple was named after Chamundeshwari or Durga, the fierce form of Shakti, a tutelary deity held in reverence for centuries by Mysore Maharajas.
Chamundeshwari is called by the people of Karnataka as Naada Devathe which means State Goddess. It is situated at the elevation of around 3300ft from the mean sea level.The temple is famous for the celebrations of festivals like Aashada Shukravara, Navaratri and Ammanavara Vardhanthi. In the month of Ashadha, Fridays are considered particularly auspicious. Lakhs of devotees throng the temple during this occasion. Another festival celebrated during this month is Chamundi Jayanti. This day is celebrated on the anniversary of the consecration of the utsava murthy of the goddess by the Maharaja of Mysore. On this occasion, the goddess's icon is taken around the temple in a golden palanquin.

The most important festival that is celebrated here is Navaratri. Mysore Dasara is celebrated as the state festival of Karnataka, called Nadahabba in Kannada. During Navaratri, the Goddess is decorated in 9 different ways to depict nine different aspects of the goddess. On the 7th day of Navaratri that is Kaalaratri, valuable jewels donated by Maharajas are brought from the District Treasury of Mysuru and decorated to Chamundi.

Another temple is situated at the foothill which is in Utthanahalli called as Jwalamuki Shri Tripurasundari Temple. This goddess is considered the sister of Chamundi who helped her at the battlefield to slay the demon Raktabīja.
        </div>
    </div>
</body>

</html>