<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&family=Parisienne&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playball&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Viga&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/yourcode.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Railway Museum</title>

</head>

<body>
    <div class="karanji">
        <div class="heading">
            <h1>Railway Museum</h1>
        </div>
        <div class="container info">
            Within the city, buses are cheap and popular means of transport, auto-rickshaws are also available and tongas (horse-drawn carriages) are popular with tourists. Mysore also has a 42.5-kilometre (26.4 mi) long ring road that is being upgraded to six lanes
            by the MUDA. The city has transport services from mobile based taxi services like Ola Cabs, Uber, Jugnoo as well. Also it has mobile based two wheeler taxi Rapido also mobile based self ride two wheeler scooters by Bounce and Vogo four wheeler
            self ride Zoom cars and many more. A public bicycle sharing system, Trin-Trin, funded partially by the United Nations is popular mode of transport. It is a government project. The key objective of TrinTrin is to encourage local commuters,
            as well as visitors, to use the bicycle in preference to motorized modes of travel and thereby help scale down the multifarious environmental and road-traffic hazards, enhance conveyance convenience, and make local daily commutes economical
            for the common citizen.Intercity buses are handled by KSRTC. All the intercity buses are operated through the Rural Bus Stand which is the largest of its kind in Mysore. All kinds of services like Airavat, Rajahamsa, Ambari, Standard buses
            are available to almost every city in the state and some cities in the neighbouring states. There are buses every ten minutes to Bangalore. The KSRTC Rural Bus stand in Mysore hosts a shopping mall/complex with brands such as Reliance Smart,
            Reliance Digital etc. Other private buses are also operated from agencies like SRS Travels, VRL Travels etc.


        </div>
    </div>
</body>

</html>